.offerCard{
    margin-bottom: 5px;
    display: flex;
    padding:15px;
    color: black;
    border: 1px solid black;
    background-color: #cfe7f9;    

}

.offerCard p {
    font-size: .75em;
}
.offerCard .properties{
    margin-left:15px;
    padding:3px
}

.offerCard img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}
.details{
    display:flex;
    justify-content: space-between;

}
